<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAge8MNDxtCwy2YcHgJaI0bFmYHUI52MkI</string>
	<key>GCM_SENDER_ID</key>
	<string>28902999546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yorus.yorusMobile</string>
	<key>PROJECT_ID</key>
	<string>vipin-genai-bb</string>
	<key>STORAGE_BUCKET</key>
	<string>vipin-genai-bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28902999546:ios:b703d86112fd9f2a765043</string>
</dict>
</plist>